{% include 'includes/head.html' %}
{% include 'includes/header.html' %}

<section class="plant-page col-sm-12 text-center">
    <h1>Plant #{{ plant.id }}</h1>
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <div class="row">
                <div class="group group-head col-sm-12">
                    <div class="title">Name: </div>
                    <div class="content">Location</div>
                </div>
                <div class="group group-content col-sm-12">
                    <div class="title">{{ plant.name }} </div>
                    <div class="content">{{ plant.location }}</div>
                </div>
            </div>
        </div>
    </div>
</section>


{% include 'includes/footer.html' %}